* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
}

a {
    text-decoration: none;
}

.navbar-container {
    width: 100%;
    height: 5em;
    line-height: 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navbar-container__name {
    height: 100%;
    width: 20%;
    text-align: center;
    margin-right: 2rem;
    padding: 5px;
}

.navbar-name {
    font-family: "Comfortaa", cursive;
    font-size: 3rem;
    color: black;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: black;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
}

.nav-link,
.nav-link:after,
.nav-link:before {
    transition: all 0.5s;
}

.nav-link:hover {
    color: #555;
}

.content {
    width: 100%;
    height: 600px;
    background: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-overlay {
    color: #ffffff;
}

.content-overlay h1 {
    font-size: 4rem;
    display: inline-block;
}

.about-container {
    width: 100%;
    margin: 2rem 0;
    background: white;
}

.about-container__text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.about-container__text p {
    
}